flaky
graphene==2.0
allure-pytest==2.2.3b1
backports.functools-lru-cache==1.4
certifi==2017.4.17
chardet==3.0.4
colorama==0.3.9
configparser==3.5.0
crayons==0.1.2
docopt==0.6.2
EasyProcess==0.2.3
enum34==1.1.6
future==0.16.0
idna==2.5
Jinja2==2.9.6
lxml==3.8.0
MarkupSafe==1.0
namedlist==1.7
olefile==0.44
Pillow==4.2.1
pipreqs==0.4.9
py==1.4.34
pytest==3.2.3
PyVirtualDisplay==0.2.1
requests==2.18.4
selenium==3.10.0
six==1.10.0
urllib3==1.22
virtualenv==15.1.0
webdriver-manager==1.4.5
yarg==0.1.9
locust==0.8
pytest-xdist==1.22.2
gevent